*{margin:0;padding:0;}

/*ヘッダーのデザイン*/
.header{
    overflow: hidden;
}

/*タイトルのデザイン*/
.title{
    width: 12%; 
    margin: 20px 30px;
    padding: auto;
    font-size: 24px;
    float: left;
}

/*検索エリアのデザイン*/
.searchArea{
    width: 40%; 
    margin: 20px 0px 0px 20%;
    padding: auto;
    font-size: 18px;
    float: left;
    justify-content:flex-end;
    display:flex;
}

/*スレッドリストのデザイン*/
.threadList,.commentList{width: 80%;margin: 10% 30%;padding: auto;}

/*スレッドコンテンツのデザイン*/
.threadContentns,.commentContentns{
    width: 60%;
    border: 1px solid black;
    margin-top: 5px;
}

/*スレッドとコメントの追加エリアのデザイン*/
.addThreadArea{width: 50%;margin: 5% 30%;padding: auto;}
.addCommentArea{width: 80%;margin: 5% 30%;padding: auto;}

/*メッセージエリアのデザイン*/
.msgArea{font-size: 18px;color: red;text-align: center;}

/*スレッド名のデザイン*/
.threadName{
    width: 80%; 
    margin: 3% 10%;
    padding: auto;
    text-align: center;
    font-size: 24px;
}

/*コメント画面のバックボタンのデザイン*/
.back-btn {
    position: fixed;
    top: 5px;
    right: 20px;
    left: 10px;
    width: 40px;
    height: 24px;
    z-index: 2;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 10px;
}

.back-btn span {
    position: absolute;
    width: 40px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

.back-btn span:nth-child(1) {
    top: 0;
    transform: translate(7px,83px) rotate(135deg);
}

.back-btn span:nth-child(2) {
    top: 15px;
    width: 60px;
    transform: translate(18px,80px);
}

.back-btn span:nth-child(3) {
    top: 30px;
    transform: translate(7px,77px) rotate(45deg);
}

/*ハンバーガーメニューのデザイン*/
.nav-btn {
    position: fixed;
    top: 5px;
    right: 20px;
    width: 40px;
    height: 24px;
    z-index: 2;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms;
}
.nav-btn span {
    position: absolute;
    width: 40px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 300ms;
}
.nav-btn span:nth-child(1) {
    top: 0
}
.nav-btn span:nth-child(2) {
    top: 15px
}
.nav-btn span:nth-child(3) {
    top: 30px
}

/*ハンバーガーメニュー表示時のデザイン*/
.nav-btn.open span {
    background: rgb(255, 255, 255);
    transform: rotate(180deg);
}
.nav-btn.open span:nth-child(1) {
    transform: translate(-7px,15px) rotate(45deg);
}
.nav-btn.open span:nth-child(2) {
    transform: translate(-7px,0px) rotate(135deg);
}
.nav-btn.open span:nth-child(3) {
    transform: translate(100px,0px);
}

/*ハンバーガーメニュー内のデザイン*/
#navi {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 1;
    transition: all 300ms;
}
#navi.open-menu {
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}
#navi ul li {
    font-size: 42px;
    padding: 10px 0px;
    list-style: none;
    color: white;
    cursor: pointer;
}

/*ダイアログのボタンのデザイン*/
.dialogButton {
    width:5em;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    border: solid 1px;
    text-align:center;
    padding:4px 0 4px;
    color:#000000;
    background-color:white;
    border-radius:5px;
    margin:5px auto;
}

/*ダイアログのOKボタンのデザイン*/
.dialogOkButton {
    color: white;
    background-color:red;
    border: solid 1px red;
}
.dialogOkButton.hover {
    color: rgb(241, 241, 241);
    background-color:rgb(241, 0, 0);
    box-shadow: 0px  0px 2px 0.5px gray;
}

/*スレッド追加ダイアログのデザイン*/
#addThreadDialog {
    display:none;
}
#addThreadDialogBackground {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
}
#addThreadDialogContent {
    position: absolute;
    top: 20%;
    width: 65%;
    height: 250px;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: auto;
    background-color: white;
    text-align: center;
    border:none;
    font-weight:bold;
    border-radius:5px;
    z-index: 3;
}
#addThreadDialogMsg {
    width:80%;
    font-size:20px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:left;
    padding: auto;
    margin:50px auto;
}
.addThreadAreaButton{
    width: 50%;
    margin: 30px 30%;
    padding: auto;
    text-align: center;
    font-size:24px;
    font-weight:bold;
}

/*アカウント削除ダイアログのデザイン*/
#deleteAccountDialog {
    display:none;
}
#deleteAccountDialogBackground {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
}
#deleteAccountDialogContent {
    position: absolute;
    top: 20%;
    width: 65%;
    height: 300px;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: auto;
    background-color: white;
    text-align: center;
    border:none;
    font-weight:bold;
    border-radius:5px;
    z-index: 3;
}
#deleteAccountDialogMsg {
    width:80%;
    font-size:20px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    text-align:left;
    padding: auto;
    margin:50px auto;
}

/*ログイン、新規登録画面のフォームのデザイン*/
.loginFormArea,.signupFormArea{
    width: 60%;
    margin: auto 30%;
}

/*サインアウトボタンのデザイン*/
.signOutButton{
    color: white;
    border: none;
    background: none;
}

/*サインアウトボタンのデザイン*/
.loginButton,.signUpButton{
    display: block;
}