*{margin:0;padding:0;}

/*ヘッダーのデザイン*/
.header{
    overflow: hidden;
}

/*タイトルのデザイン*/
.title{
    width: 12%; 
    margin: 20px 30px;
    padding: auto;
    font-size: 24px;
    float: left;
}

/*検索エリアのデザイン*/
.searchArea{
    width: 40%; 
    margin: 20px 0px 0px 20%;
    padding: auto;
    font-size: 18px;
    float: left;
    justify-content:flex-end;
    display:flex;
}

/*スレッドリストのデザイン*/
.threadList,.commentList{width: 80%;margin: 10% 30%;padding: auto;}

/*スレッドコンテンツのデザイン*/
.threadContentns,.commentContentns{
    width: 60%;
    border: 1px solid black;
    margin-top: 5px;
}

/*スレッドの追加エリアのデザイン*/
.addThreadArea,.addCommentArea{width: 80%;margin: 5% 30%;padding: auto;}

/*スレッドの追加エリアのデザイン*/
.msgArea{font-size: 18px;color: red;text-align: center;}

/*スレッド名のデザイン*/
.threadName{
    width: 80%; 
    margin: 3% 10%;
    padding: auto;
    text-align: center;
    font-size: 24px;
}

/*コメント画面のバックボタンのデザイン*/
.back-btn {
    position: fixed;
    top: 5px;
    right: 20px;
    left: 10px;
    width: 40px;
    height: 24px;
    z-index: 2;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 10px;
}

.back-btn span {
    position: absolute;
    width: 40px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

.back-btn span:nth-child(1) {
    top: 0;
    transform: translate(7px,83px) rotate(135deg);
}

.back-btn span:nth-child(2) {
    top: 15px;
    width: 60px;
    transform: translate(18px,80px);
}

.back-btn span:nth-child(3) {
    top: 30px;
    transform: translate(7px,77px) rotate(45deg);
}