<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" href="/public/css/bulletin_board.css">
    <title>掲示板アプリ</title>
</head>
<body>
    <div class="header">
        <div class="title">掲示板</div>
        <div class="searchArea">
            <form action="/searchThread" method="post">
               <input name="thd_name">
               <button>検索</button>
            </form>
        </div>
    </div>
    <p class="nav-btn" onclick="hamburgerMenuShow()">
		<span></span>
		<span></span>
		<span></span>
	</p>
    <nav id="navi">
		<ul id="menu">
            {% if login_status == "LOGIN" %}
			    <li>
                    <form action="/signout" method="post">
                        <button class="signOutButton">サインアウト</button>
                    </form>
                </li>
                <li><a onclick="showAccountDeleteArea()">アカウント削除</a></li>
                <li><a onclick="showThreadAddArea()">スレッド追加</a></li>
            {% else %}
                <li><a onclick="location.href='/login'">ログイン</a></li>
                <li><a onclick="location.href='/signup'">新規登録</a></li>
            {% endif %}
		</ul>
	</nav>
    <div class="msgArea">
        {% for msg in error_msg %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
    <div class="threadList">
    {% for temps in thread_list %}
        <div class="threadContentns">
            <div>id: {{ temps.thread_id }}</div>
            <div class="rowThreadArea">
                <form action="/threadComment" method="post">
                    <input type="hidden" name="thd_id" value="{{ temps.thread_id }}">
                    <input type="hidden" name="thd_name" value="{{ temps.thread_name }}">
                    <button>{{ temps.thread_name }}</button>
                </form>
            </div>
            <form action="/deleteThread" method="post">
                <input type="hidden" name="thd_id" value="{{ temps.thread_id }}">
                <input type="hidden" name="thd_name" value="{{ temps.thread_name }}">
                <button>delete</button>
            </form>
        </div>
    {% endfor %}
    </div>
    
    <div id="addThreadDialog">
        <div id="addThreadDialogBackground"></div>
        <div id="addThreadDialogContent">
            <div>
                <div class="addThreadArea">
                    <form action="/addThread" method="post">
                       <input name="thd_name">
                       <button class="dialogButton dialogOkButton">追加</button>
                    </form>
                </div>
                <button class="dialogButton" onclick="hideThreadAddArea()">いいえ</button>
            </div>
        </div>
    </div>

    <div id="deleteAccountDialog">
        <div id="deleteAccountDialogBackground"></div>
        <div id="deleteAccountDialogContent">
            <div id="deleteAccountDialogMsg">
                アカウントを削除いたします。<br>
                削除してもよろしいでしょうか。
            </div>
            <div>
                <div class="deleteAccountArea">
                    <form action="/deleteAccount" method="post">
                       <button class="dialogButton dialogOkButton">はい</button>
                    </form>
                </div>
                <button class="dialogButton" onclick="hideAccountDeleteArea()">いいえ</button>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/public/js/bulletin_board.js"></script>
</body>
</html>