{% extends "main.html" %}

{% block header %}
        <div class="searchArea">
            <form action="/searchThread" method="post">
               <input name="search_keyword" value="{{ search_keyword }}">
               <button>検索</button>
            </form>
        </div>
{% endblock %}

{% block content %}
    <nav id="navi">
		<ul id="menu">
            {% if login_status == "LOGIN" %}
                <li>ログイン中:{{ acct_name }}</li>
                <li><a onclick="location.href='/'">ホーム</a></li>
			    <li>
                    <form action="/signout" method="post">
                        <button class="signOutButton">サインアウト</button>
                    </form>
                </li>
                <li><a onclick="showAccountDeleteArea()">アカウント削除</a></li>
                <li><a onclick="showThreadAddArea()">スレッド追加</a></li>
            {% else %}
                <li><a onclick="location.href='/login'">ログイン</a></li>
                <li><a onclick="location.href='/signup'">新規登録</a></li>
            {% endif %}
		</ul>
	</nav>
    <div class="msgArea">
        {% for msg in error_msg %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
    <div class="threadList">
    {% for temps in thread_list %}
        <div class="threadContentns">
            <div>id: {{ temps.thread_id }}</div>
            <div class="rowThreadArea">
                <form action="/threadComment" method="post">
                    <input type="hidden" name="thd_id" value="{{ temps.thread_id }}">
                    <input type="hidden" name="thd_name" value="{{ temps.thread_name }}">
                    <button>{{ temps.thread_name }}</button>
                </form>
            </div>
            <form action="/deleteThread" method="post">
                <input type="hidden" name="thd_id" value="{{ temps.thread_id }}">
                <input type="hidden" name="thd_name" value="{{ temps.thread_name }}">
                <button>delete</button>
            </form>
        </div>
    {% endfor %}
    </div>
    
    <div id="addThreadDialog">
        <div id="addThreadDialogBackground"></div>
        <div id="addThreadDialogContent">
            <div>
                <div class="addThreadArea">
                    <form action="/addThread" method="post">
                       <input name="thd_name">
                       <button class="dialogButton dialogOkButton">追加</button>
                    </form>
                </div>
                <button class="dialogButton" onclick="hideThreadAddArea()">いいえ</button>
            </div>
        </div>
    </div>

    <div id="deleteAccountDialog">
        <div id="deleteAccountDialogBackground"></div>
        <div id="deleteAccountDialogContent">
            <div id="deleteAccountDialogMsg">
                アカウントを削除いたします。<br>
                削除してもよろしいでしょうか。
            </div>
            <div>
                <div class="deleteAccountArea">
                    <form action="/deleteAccount" method="post">
                       <button class="dialogButton dialogOkButton">はい</button>
                    </form>
                </div>
                <button class="dialogButton" onclick="hideAccountDeleteArea()">いいえ</button>
            </div>
        </div>
    </div>
{% endblock %}