{% extends "main.html" %}
{% block content %}
    <p class="back-btn" onclick="location.href='/'">
		<span></span>
		<span></span>
		<span></span>
	</p>
    <nav id="navi">
		<ul class="menu">
			<li><a onclick="location.href='/login'">ログイン</a></li>
            <li><a onclick="location.href='/signup'">新規登録</a></li>
		</ul>
	</nav>
    <div class="msgArea">
        {% for msg in error_msg %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
    <div class="loginFormArea">
        <form action="/login" method="post">
            <p>アカウントネーム：<input name="acct_name"></p>
            <p>パスワード：<input type="password" id="pwd" name="pwd"></p>
            <input type="checkbox" id="displayPassword"/>
            <label for="displayPassword">パスワードを表示</label>
            <button class="loginButton">ログイン</button>
        </form>
    </div>
{% endblock %}