{% extends "main.html" %}
{% block content %}
    <p class="back-btn" onclick="location.href='/'">
		<span></span>
		<span></span>
		<span></span>
	</p>
    <nav id="navi">
		<ul id="menu">
            {% if login_status == "LOGIN" %}
                <li>ログイン中:{{ acct_name }}</li>
                <li><a onclick="location.href='/'">ホーム</a></li>
                <li><a onclick="location.href='/mypage'">マイページ</a></li>
			    <li>
                    <form action="/signout" method="post">
                        <button class="signOutButton">サインアウト</button>
                    </form>
                </li>
                <li><a onclick="showAccountDeleteArea()">アカウント削除</a></li>
                <li><a onclick="showThreadAddArea()">スレッド追加</a></li>
            {% else %}
                <li><a onclick="location.href='/login'">ログイン</a></li>
                <li><a onclick="location.href='/signup'">新規登録</a></li>
            {% endif %}
		</ul>
	</nav>
    <div class="threadName">{{ thd_name }}</div>
    <div class="msgArea">
        {% for msg in error_msg %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
    <div class="commentList">
        {% for temps in comment_list %}
            <div class="commentContentns">
                <div>ネーム: {{ temps.comment_name }}</div>
                <div>comment: {{ temps.comment }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="addCommentArea">
        <form action="/addComment" method="post">
            <p>ネーム：<input name="cmt_name" value="{{ cmt_name }}"></p>
            <p>コメント：<input name="cmt"></p>
            <input type="hidden" name="thd_id" value="{{ thd_id }}">
            <input type="hidden" name="thd_name" value="{{ thd_name }}">
            <button>追加</button>
        </form>
    </div>

    <div id="addThreadDialog">
        <div id="addThreadDialogBackground"></div>
        <div id="addThreadDialogContent">
            <div>
                <div class="addThreadArea">
                    <form action="/addThread" method="post">
                       <input name="thd_name">
                       <button class="dialogButton dialogOkButton">追加</button>
                    </form>
                </div>
                <button class="dialogButton" onclick="hideThreadAddArea()">いいえ</button>
            </div>
        </div>
    </div>

    <div id="deleteAccountDialog">
        <div id="deleteAccountDialogBackground"></div>
        <div id="deleteAccountDialogContent">
            <div id="deleteAccountDialogMsg">
                アカウントを削除いたします。<br>
                削除してもよろしいでしょうか。
            </div>
            <div>
                <div class="deleteAccountArea">
                    <form action="/deleteAccount" method="post">
                       <button class="dialogButton dialogOkButton">はい</button>
                    </form>
                </div>
                <button class="dialogButton" onclick="hideAccountDeleteArea()">いいえ</button>
            </div>
        </div>
    </div>
{% endblock %}